{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h1>My Watchlist</h1>
    <ul>
    {% for listing in listings %}
        <li class="listings">
            <div class="listing-details">
                {% if listing.image %}
                    <a href="{% url 'listing' listing.pk %}"><img class="listing-thumbnail" src="{{ listing.image.url }}" alt="Listing Thumbnail Image"></a>
                {% else %}
                    <a href="{% url 'listing' listing.pk %}"><img class="listing-thumbnail" src="{% static 'auctions/no-image-placeholder.png' %}" alt="No Image Available"></a>
                {% endif %}
                <div>
                    <div class="listing-title">
                        <h3><a href="{% url 'listing' listing.pk %}">{{ listing.name }}</a></h3>
                        <span class="num-bids">
                            ({{ listing.num_bids }} bid{% if listing.num_bids != 1 %}s{% endif %})
                        </span>
                        <span class="remove">
                            <a href="{% url 'remove_from_watchlist' listing.pk %}?referer=watchlist">Remove from watchlist</a>
                        </span>
                    </div>
                    <p><strong>Description:</strong> {{ listing.description }}<br />
                    <strong>The Highest Bid:</strong> ${{listing.highest_bid|floatformat:2}}{% if listing.yours %} (it's yours).{% else %} - <a href="{% url 'listing' listing.pk %}">Bid more</a>{% endif %}</p>
                </div>
            </div>
        </li>
    {% empty %}
        <li>No listings on your watchlist.</li>
    {% endfor %}
    </ul>
{% endblock %}